.~lock.GDD.doc#

*.opensdf 
*.log
*.sdf
*.sln
*.suo
*\Logs
Binaries
DerivedDataCache
Intermediate
BouncerBall/Saved/Config/Windows
*.sdf
*.sln
BouncerBall/BouncerBall.sln
BouncerBall/BouncerBall.sdf
BouncerBall/Saved/AutoScreenshot.png
BouncerBall/Build/Receipts/BouncerBallEditor-Win64-Development.target.xml