.~lock.GDD.doc#
BouncerBall\*.opensdf
BouncerBall\*.sdf
BouncerBall\*.sln
BouncerBall\*.suo
BouncerBall\*\Logs
BoucerBall\Binaries\
BoucerBall\DerivedDataCache\
BoucerBall\Intermediate
Binaries
DerivedDataCache
Intermediate